---
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
---

<footer class='section bg-light'>
  <div class='container text-center'>
    {/* Logo */}
    <div class='flex flex-wrap justify-center my-6'>
      <div>
        <img src='/images/theethawat-logo.png' alt='Logo' class='h-20' />
      </div><div>
        <img src='/images/logotdc.png' alt='Logo' class='h-20' />
      </div>
    </div>
    {/* social icons */}
    <Social source={social} className='social-icons' />
    {/* footer menu */}
    <ul class='mb-2 space-x-4 my-4'>
      {
        menu.footer.map((menu) => (
          <li class='inline-block'>
            <a
              href={menu.url}
              class='p-4 text-gray-500 hover:text-black transition-all'
            >
              {menu.name}
            </a>
          </li>
        ))
      }
    </ul>
    {/* copyright */}
    <p
      set:html={markdownify(config.params.copyright)}
      class='text-gray-500 text-sm font-light'
    />
  </div>
</footer>
